.service-hero {
    margin-top: 20vh;
    margin-left: 20vw;
}

#khaki {
    position: absolute;
    animation: left-right1 ease-in-out 2.5s ;
}

@keyframes left-right1{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

100%{
    transform: translateY(0px);
    opacity: 1;
}
}

#board {
    position: absolute;
    animation: left-right2 ease-in-out 1.5s ;
}

@keyframes left-right2{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

100%{
    transform: translateY(0px);
    opacity: 1;
}
}