svg{
    margin-top: 30vh;
    margin-left: 20VW;
}

#Group1 {
    position: absolute;
    animation: down1 ease-in-out 4.3s ;
}

@keyframes down1{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Group2 {
        position: absolute;
        animation: down2 ease-in-out 3.5s ;
}

@keyframes down2{
    0%{
      transform: translateY(-100vh);
    }
    
    100%{
        transform: translateY(0px);
    }
  }
  

#Group3 {
    position: absolute;
    animation: down3 ease-in-out 1.9s ;
}

@keyframes down3{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Group4 {
    position: absolute;
    animation: down4 ease-in-out 3.2s ;
}

@keyframes down4{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Group5 {
    position: absolute;
    animation: down5 ease-in-out 2.4s ;
}

@keyframes down5{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Group6 {
    position: absolute;
    animation: down6 ease-in-out 4.3s ;
}

@keyframes down6{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Group7 {
    position: absolute;
    animation: down7 ease-in-out 3.4s ;
}

@keyframes down7{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Group8 {
    position: absolute;
    animation: down8 ease-in-out 3.7s ;
}

@keyframes down8{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Group9 {
    position: absolute;
    animation: down9 ease-in-out 3.1s ;
}

@keyframes down9{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Group10 {
    position: absolute;
    animation: down10 ease-in-out 3.7s ;
}

@keyframes down10{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#circle {
    position: absolute;
    animation: down11 ease-in-out 5s ;
}

@keyframes down11{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#yellow-circle{
    position: absolute;
    animation: down11 ease-in-out 2.4s ;
}

@keyframes down11{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#white-circle{
    position: absolute;
    animation: down11 ease-in-out 3.8s ;
}

@keyframes down11{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#triangle1{
    position: absolute;
    animation: down11 ease-in-out 4s ;
}

@keyframes down11{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Vector_32{
    position: absolute;
    animation: down11 ease-in-out 2.4s ;
}

@keyframes down11{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Vector_40{
    position: absolute;
    animation: down11 ease-in-out 3.7s ;
}

@keyframes down11{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Vector_8{
    position: absolute;
    animation: down11 ease-in-out 1.5s ;
}

@keyframes down11{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}

#Vector_41{
    position: absolute;
    animation: down11 ease-in-out 3s ;
}

@keyframes down11{
0%{
  transform: translateY(-100vh);
}

100%{
    transform: translateY(0px);
}
}
