body {
  background-color: black;
}

#Group1 {
    position: absolute;
    animation: down1 ease-in-out 5.3s;
}

@keyframes down1{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
 opacity: 0;
}

100%{
    transform: translateY(0px);
    opacity: 1;

}
}

#Group2 {
        position: absolute;
        animation: down2 ease-in-out 4.5s;
}

@keyframes down2{
    0%{
      transform: translateY(-120%);
      opacity: 0;
    }
    
    50%{
      opacity: 0;
     }
     
     100%{
         transform: translateY(0px);
         opacity: 1;
     
     }
  }
  

#Group3 {
    position: absolute;
    animation: down3 ease-in-out 2.9s ;
}

@keyframes down3{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#Group4 {
    position: absolute;
    animation: down4 ease-in-out 4s ;
    animation-iteration-count: 2;
}

@keyframes down4{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#Group5 {
    position: absolute;
    animation: down5 ease-in-out 3.4s ;
}

@keyframes down5{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#Group6 {
    position: absolute;
    animation: down6 ease-in-out 5.3s ;
}

@keyframes down6{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#Group7 {
    position: absolute;
    animation: down7 ease-in-out 4.4s ;
}

@keyframes down7{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#Group8 {
    position: absolute;
    animation: down8 ease-in-out 3.7s ;
}

@keyframes down8{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#Group9 {
    position: absolute;
    animation: down9 ease-in-out 4.1s ;
}

@keyframes down9{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#Group10 {
    position: absolute;
    animation: down10 ease-in-out 4.7s ;
}

@keyframes down10{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#circle {
    position: absolute;
    animation: down11 ease-in-out 5s ;
}

@keyframes down11{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#yellow-circle{
    position: absolute;
    animation: down11 ease-in-out 3.4s ;
}

@keyframes down11{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

50%{
  opacity: 0;
 }
 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#white-circle{
    position: absolute;
    animation: down11 ease-in-out 5s ;
}

@keyframes down11{
0%{
  transform: translateY(-120%);
  opacity: 0;
}

 
 100%{
     transform: translateY(0px);
     opacity: 1;
 
 }
}

#triangle1{
    position: absolute;
    animation: fade-out ease-in-out 6s ;
}


#Vector_32{
    position: absolute;
    animation: fade-out ease-in-out 6s ;
}


#Vector_40{
    position: absolute;
    animation: fade-out ease-in-out 6s ;
}

#Vector_8{
    position: absolute;
    animation: fade-out ease-in-out 6s ;
}


#Vector_41{
    position: absolute;
    animation: fade-out ease-in-out 6.3s ;
}


#Vector_36 {
  position: absolute;
  animation: fade-out ease-in-out 6.3s ;
}

@keyframes fade-out {
  0%{
    opacity: 0;
  }
  
  50%{
    opacity: 0;
   }

   75%{
    opacity: 0;
   }
   
   100%{
       opacity: 1;
   
   }
}