body{
    background: #3399ff;
    margin: 0;
  }
  
  
  .circles{
    position: absolute;
    animation: ripple ease-in-out 15s infinite;
  }
  

  
  @keyframes ripple{
    0%{
      transform: translateX(150px) translateY(150px);
    }
    
    50%{
        transform: translateX(0px) translateY(0px);
    }
    
    100%{
        transform: translateX(150px) translateY(150px);
    }
  }
  