body {
    margin: 0;
overflow-x: hidden;
}

.hero-wave {
  background-color: blueviolet;
  height: 100vh;
}

.wave2 {
    position: absolute;
    animation: moving2 ease-in-out 7s infinite alternate;
    width: 100%;
    opacity: 0.95;
    animation-delay: 1s;
}
  
  
  @keyframes moving2{
    0%{
      transform: rotateY(10deg);
    }
    
    50%{
      transform: rotateY(0deg);
    }
    
    100%{
      transform: rotateY(10deg);
    }
  }

  .wave1 {
    position: absolute;
    animation: moving1 ease-in-out 10s infinite alternate;
    width: 100%;
opacity: 0.6;

}
   
  @keyframes moving1{
    0%{
      transform: translateY(50px) rotateY(20deg);
    }
    
    50%{
        transform: translateY(0px) rotateY(0deg);
    }
    
    100%{
        transform: translateY(50px) rotateY(20deg);
    }
  }

  .wave3 {
    position: absolute;
    animation: moving3 ease-in-out 10s infinite alternate;
    width: 100%;
    opacity: 0.3;
/* animation-delay: 3s; */

}
  
@keyframes moving3{
    0%{
      transform: translateY(0px) translateX(0px) ;
    }
    
    50%{
        transform: translateY(50px) translateX(50px);
    }
    
    100%{
        transform: translateY(0px) translateX(0px);
    }
  } 

