
.wrapper {
  height: 90%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -999;
} 

.swiper-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative; 
}

.swiper-container .swiper-scrollbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
}


.swiper-container .swiper-slide {
  height: 100%;
  width: auto;
  align-items: center;
  font-size: 40px;
  font-family: Sans-serif;
  color: #fff; 
}

/* positioning and reshaping the pagination bullets */
.swiper-pagination-bullet-active {
  background-color: white !important;
}


.swiper-pagination-bullet {
  margin: 10px !important;
  height: 15px !important;
  width: 15px !important;
  display: block !important
}

.swiper-pagination {
  top: 40%;
  direction: rtl;
}

/* slider pics */
.swiper-container .swiper-slide:nth-child(1) {
  background-image: url(./media/1.png);

}
.swiper-container .swiper-slide:nth-child(2) {
  background-image: url(./media/2.png);
}
.swiper-container .swiper-slide:nth-child(3) {
  background-image: url(./media/3.png);
}
.swiper-container .swiper-slide:nth-child(4) {
  background-image: url(./media/4.png);
}

.slider-container {
  padding: 10% 25% 10%;
  text-align: center;
  
}

/* it will add greenish cover on photos */
.stage {
  height: inherit;
  background-color: #0b818abd; 
}

.slider-sub-title {
  font-size: 21px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #ffffff;
  position: relative;
  animation: moveDown ease 1s; 
  top: 20px;
}

/* animation for sub-title moving down */
@keyframes moveDown{
  from {
    top: 0;
  }
  to{

    top: 20px;
  }
}

.slider-title {
  font-size: 52px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #ffffff;
  padding: 0px;
  opacity: 1;
  position: relative;
  animation: scale-change 2s forwards;
  text-align: center;
}

/* animation for title, scaling it from bigger to normal size */
@keyframes scale-change{
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  50%{
    transform: scale(1.5);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.slider-button {
  font-weight: 400;
  border-radius: 7px;
  border: solid 1px #212529;
  padding: 12px 25px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  animation: moveUp ease-in 5s; 
  top: 20px;
  background-color: #212529;
  text-transform: uppercase;
  position: relative;
}

/* button animation  moving-up and fad-in */
@keyframes moveUp{
  0%{
    opacity: 0;
    top: 50px;

  }
  70%{
    opacity: 0;
  top: 50px;

  }  
  80%{
    opacity: 1;
  top: 20px;

  }

  100%{
    opacity: 1;
    top: 20;
  }
}

/* typing */
#str {
  width: 800px;
  padding: 20px;
  height: auto;
  font-family: sans-serif;
  font-size: 20px;
  margin: 200px auto;
  color: #fff;
  font-weight: bold;
}

